<!-- To autopopulate an HTML form, use the command shift+1+enter and it 
will get the base of what is needed started -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Practice Form</title>
</head>
<body>
    <!-- To sumbit the form and actually have the data go somewhere, you need
    to add an action and method attribute to your form element. It submits its 
    values to route specified in the form’s action attribute.
-->
    <form action="/greet" method="GET">
        <!-- It's best practice to add a label before the input element. 
        It's good practice to fill out a "for" attribute within the label. 
        Within the associated input element, also set an id to the same name 
        as the for. It's helpful for people using screen readers to fill out 
        your form, as well as if you click on the label, it'll select this 
        input box. There's also a name attribute. What sort of name do we want
        to give that data? Think of it like a variable. If you want any 
        placeholder text to show up, you can use the attribute placeholder  -->
       
        <div>
            <label for="first_name">First Name:</label>
            <input type="text" name ="first_name" id="first_name" placeholder="Type here">
        </div>

        <!-- Putting each other these input elements into their own div element
        makes them NOT be in on the same line. If they weren't in divs they'd 
        both show up on the same line withiin the webpage  -->
        <div>
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" id="last_name" placeholder="Type here">
        </div>

        <div>
            <label>What's your favorite color</label>
            <input type = "radio" name="fav_color" value="pink">
            <label>Pink</lable>
            <input type = "radio" name="fav_color" value="purple">
            <label>Purple</lable>
            <input type = "radio" name="fav_color" value="green">
            <label>Green</lable>
        </div>


        <div>
          <input type="submit">
        </div>

    </form>
    
</body>
</html>


<!-- Making a table practice ... -->
     <!-- <table>
                <tr>
                    <td>
                        Username: 
                    </td>
                    <td>
                        <input type="text" name="username">
                    </td>
                </tr>
                <tr>
                    <td>
                        Password
                    </td>
                    <td>
                        <input type="password" name="password">
                    </td>

                </tr>
        </table> -->

<!-- Making checkboxes practice -->
<!--        <label for="white">White</label>
            <input type="checkbox" id="white" value="white">

            <label for="black">Black</label>
            <input type="checkbox" id="black" value="black">

            <label for="blue">Blue</label>
            <input type="checkbox" id="blue" value="blue"> -->